.gallery {
    .image-container {
        width: 25%;
        display: inline-block;
        
        &__inner {
            margin: 10px;
        }
        &:hover {
            background-color: #f8f8f8;
        }
    }

    .description {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &--small {
            font-size: 70%;
        }
    }

    .cell {
        position: relative;
        &__action-toolbar {
            display: none;
            position: absolute;
            right: 5px;
            top: 5px;
        }
        &:hover {
            .cell__action-toolbar {
                display: block;
            }
        }
    }
}