<div class="gallery">
    <div ng-repeat="image in vm.images track by image.id" class="image-container">
        <div class="image-container__inner cell">
            <img ng-src="{{image.imageUrl}}" alt="{{image.name}}" class="responsive" />
            <div class="description">Name: {{image.name}}</div>
            <div class="description description--small">Size: {{image.size}}b</div>
            <div class="description description--small">Uploaded: {{image.uploadedDate | date:'medium'}}</div>
            <button ng-click="vm.remove(image.id)" class="button cell__action-toolbar">remove</button>
        </div>
    </div>
</div>