@nice-blue: #5b83ad;
@dark-grey: #444444;
@light-grey: #d3d3d3;
@white: #ffffff;

.button {
    border: 0 none;
    border-radius: 1px;
    
    color: @dark-grey;
    background-color: @light-grey;

    padding: 10px;

    text-transform: uppercase;

    &--primary {
        color: @white;
        background-color: @nice-blue
    }

    &[disabled] {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

img.responsive {
    width: 100%;
}