@whiteish: #eeeeee;
@dark-grey: #444444;

@element-padding: 10px;
@thumbnail-width: 100px;
@thumbnail-height: 100px;

.toolbar {
    width:100%;
    padding: @element-padding;
    background-color: @whiteish;

    &__upload {
        display: inline-block;
        padding: @element-padding;
    }

    &__navigation {
        display:inline-block;
        padding: @element-padding;
        vertical-align: top;
        .controls {
            &__item {
                padding-bottom: @element-padding;
            }
        }
        
        .label {
            display:inline-block;
            min-width: 50px;
        }
    }

    .dnd {
        width: @thumbnail-width;
        height: 100px;

        border: 1px dashed @dark-grey;
        
        &--centered {
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            text-align: center;
        }

        img {
            max-width: @thumbnail-width;
            max-height: @thumbnail-height;
        }
    }
    .action {
        width: @thumbnail-width;
        margin-top: @element-padding;
    }
}


