<div class="toolbar">
    <div class="toolbar__upload">
        <div id="upload" name="upload" class="dnd dnd--centered drag-area drop-box" ngf-drop ngf-select ng-model="vm.file" ngf-pattern="'.jpg,.gif,.png'" ngf-capture="'camera'">
            <span ng-if="!vm.file">click or drag&amp;drop</span>
            <img ngf-thumbnail="vm.file" />
        </div>
        <button ng-click="vm.upload(vm.file)" ng-disabled="!vm.file" class="action button" ng-class="{'button--primary': !!vm.file}">add</button>
    </div>

    <div class="toolbar__navigation controls">
        <div class="controls__item">
            <span class="label">Page</span>
            <button ng-repeat="page in vm.pages" ng-click="vm.changePage(page)" class="button page" ng-class="{'button--primary': page == vm.currentPage}">{{page}}</button>
        </div>
        <div class="controls__item">
            <div>
                <span class="label">Sort</span>
                <button ng-repeat="field in ['date', 'size']" ng-click="vm.changeSort(page)" disabled class="button page">{{field}}</button>
            </div>
        </div>

    </div>